<div><h1>Hi! Im Dobber!</h1>
<% if current_user %>
  <h4> You are logged in as <i><%= current_user.name %></i> </h4>
<% else %>
  <h4> You are not logged in </h4>
<% end %>
<% unless current_user %>
  <a href = '/signup'><button>Signup</button></a>
  <a href = '/login'><button>Login</button></a>
<% end %>
<a href = '/logout'><button>Logout</button></a></div>
<img src='dobber.jpg' width='700px'/>
<% if current_user %>
  <% if current_user.dog_id == 1 %>
    <h4>You haven't created your Dobber yet!</h4>
    <a href = '/new-dobber'><button>Create your Dobber</button></a>
  <% else %>
    <% if current_user.dog.feedings == 0 or current_user.dog.walks == 0 or current_user.dog.treats == 0 %>
      <h4> Your dobber is not active yet.  You must first feed him, walk him, and give him a treat! </h4>
      <% if current_user.dog.feedings == 0 %>
        <a href = '/feed'><button>Feed Dobber</button></a>
      <% end %>
      <% if current_user.dog.walks == 0 %>
        <a href='/walk'><button>Walk Dobber</button></a>
      <% end %>
      <% if current_user.dog.treats == 0 %>
        <a href='/treat'><button>Give Dobber a Treat</button></a>
      <% end %>
    <% else %>
      
      <% if current_user.dog.enough_food? < 24 and current_user.dog.enough_walks? < 12 and current_user.dog.enough_treats? < 12 %>
        <h2> Your Dobber is Active</h2>
        <h3> You have kept your Dobber active for: </h3>
        <% if current_user.dog.age < 1 %>
          <h3><i>less than a day</i></h3>
        <% elsif current_user.dog.age == 1 %>
          <h3><i> 1 Day</i></h3>
        <% else %>        
          <h3><%= current_user.dog.age %> Days </h3>
        <% end %>

        <br>


        <i><h4> Total Feedings given: <%= current_user.dog.feedings %> </h4></i>
        <p> Last Feeding: <%= distance_of_time_in_words(current_user.dog.last_feeding, Time.now) %> ago</p>
        <p>You have </p><font color = 'red'><%= current_user.dog.next_feeding? %> hours </font><p>left before you must feed your dobber again</p>
        <% if current_user.dog.enough_food? > 10 %>
          <a href = '/feed'><button>Feed Dobber</button></a>
        <% end %>

        <br>

        <i><h4> Total Walks given: <%= current_user.dog.walks %></h4></i>
        <p> Last Walk: <%= distance_of_time_in_words(current_user.dog.last_walk, Time.now) %> ago</p>
        <p>You have </p><font color = 'red'><%= current_user.dog.next_walk? %> hours </font><p>left before you must walk your dobber again</p>
        <% if current_user.dog.enough_walks? > 8 %>
          <a href='/walk'><button>Walk Dobber</button></a>
        <% end %>

        <br>

        <i><h4> Total Treats given: <%= current_user.dog.treats %> </h4></i>
        <p> Last Treat: <%= distance_of_time_in_words(current_user.dog.last_treat, Time.now) %> ago</p>
        <p>You have </p><font color = 'red'><%= current_user.dog.next_treat? %> hours </font><p>left before you must give your Dobber another treat</p>
        <% if current_user.dog.enough_treats? > 8 %>
          <a href='/treat'><button>Give Dobber a Treat</button></a>
        <% end %>
        
      <% else %>
        <h1>Your dobber is gone.  You need to take care of your Dobber better!</h1>
        <img src = 'dobber_sad.jpg' width = '350 px'/>
        <h4>Start a <a href = '/new-dobber'><button>New Dobber</button></a>
      <% end %>
    <% end %>    
  <% end %>
<% end %>  



  




