<div><h1>Hi! Im Dobber!</h1>
<% if current_user %>
  <h4> You are logged in as <i><%= current_user.name %></i> </h4>
<% else %>
  <h4> You are not logged in </h4>
<% end %>
<a href = '/signup'><button>Signup</button></a>
<a href = '/login'><button>Login</button></a>
<a href = '/logout'><button>Logout</button></a></div>
<img src='dobber.jpg' width='700px'/>
<% if current_user %>
  <% if current_user.dog.id == 1 %>
    <h4>You haven't created your Dobber yet!</h4>
    <a href = '/new-dobber'><button>Create your Dobber</button></a>
  <% else %>
    <% if current_user.dog.feedings == 0 or current_user.dog.walks == 0 or current_user.dog.treats == 0 %>
      <h4> Your dobber is not alive yet.  You must first feed him, walk him, and give him a treat! </h4>
      <% if current_user.dog.feedings == 0 %>
        <a href = '/feed'><button>Feed Dobber</button></a>
      <% end %>
      <% if current_user.dog.walks == 0 %>
        <a href='/walk'><button>Walk Dobber</button></a>
      <% end %>
      <% if current_user.dog.treats == 0 %>
        <a href='/treat'><button>Give Dobber a Treat</button></a>
      <% end %>
    <% else %>
      <h4> Your Dobber is Alive</h4>
      <h4> Total Feedings given: <%= current_user.dog.feedings %> </h4>
      <% if current_user.dog.feedings != 0 %>
        <h4> Last Feeding: <%= distance_of_time_in_words(current_user.dog.last_feeding, Time.now) %> ago</h4>
      <% end %>
        <a href = '/feed'><button>Feed Dobber</button></a>
        <h4> Total Walks given: <%= current_user.dog.walks %> </h4>
      <% if current_user.dog.walks != 0 %>
        <h4> Last Walk: <%= distance_of_time_in_words(current_user.dog.last_walk, Time.now) %> ago</h4>
      <% end %>
        <a href='/walk'><button>Walk Dobber</button></a>
        <h4> Total Treats given: <%= current_user.dog.treats %> </h4>
      <% if current_user.dog.treats != 0 %> 
        <h4> Last Treat: <%= distance_of_time_in_words(current_user.dog.last_treat, Time.now) %> ago</h4>
      <% end %>
    <a href='/treat'><button>Give Dobber a Treat</button></a>
    <% end %>

    
  <% end %>
<% end %>


